HOST=127.0.0.1
PORT=8050
DASH_DEBUG=false
PROJECT_GITHUB_URL=https://github.com/younesda/examen_dataviz_m2
MONGO_URI=mongodb://<username>:<password>@<host1>:27017,<host2>:27017,<host3>:27017/?authSource=admin&replicaSet=<replica-set>&tls=true&retryWrites=true&w=majority&appName=ExamDataviz
